

.footer {
    background-color: #faf1ed;
    /* padding: 0px 0px; */
    /* margin: 0 ; */
    /* height: 10; */
    /* height: 1024px; */
}
.row {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-evenly ; */
}
.container {
    /* max-width: 1024px; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}

ul {
    list-style: none;

}

.footer_col {
    padding: 0px 20px;
    
}
.footer_col h4 {
    font-size: 15px;
    color: gray;
    margin-left: 40px;
    /* text-transform: capitalize; */
    /* margin-bottom: 20px; */
}

ul li {
    font-size: 15px;
    margin: 10px 0px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}


#footerlogo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.bottom-container ul {
    display: inline-block;
    text-decoration: underline;
}

#inputsBox{
   margin-left: 330px; 
   /* border: 1px solid black ; */
}
#inputsBox select{
    height: 28px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    
 }
 #inputsBox p{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 170px;
 }




.bottom-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 180px;
    

}

.left-first-container {
    display: flex;
    margin-top: 20px;
}

#footerlogo {
    object-fit: cover;
    box-sizing: border-box;
    margin: 10px;
}

.left-second-container {
    margin: 5px;
    width: 100%;
    font-size: small;
}
.left-second-container > p {
    text-align: left;
}
.left-first-container a {
    color: black;
    font-weight: bold;
    padding: 5px;
}


